{% extends "base.html" %}
{% block body %}


		<div class="hero-wrap hero-bread" style="background-image: url('{{ url_for('static', filename='images/notebook_books_pictures_67511_1920x1080.jpg') }}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>About</span></p>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('{{ url_for('static', filename='images/bg_2.jpg') }}');">
						<a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
							<span class="icon-play"></span>
						</a>
					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-5 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Nikunj<br>Online <br> <span>book Shop</span></h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
							<p>MY name is nikunj patel and i am the creater of this web-site</p>
							<p>Around 130 million books have been published in the history of humanity; a heavy reader will at best get through 6,000 in a lifetime. Most of them won’t be much fun or very memorable. Books are like people; we meet many but fall in love very seldom. Perhaps only thirty books will ever truly mark us. They will be different for each of us, but the way in which they affect us will be similar.</p>
						</div>
					</div>
				</div>
			</div>
		</section>


{% endblock %}   
