{% extends "base.html" %}
{% block body %}

	
		<div class="hero-wrap js-fullheight" style="background-image: url('{{ url_for('static', filename='images/books_grass_stack_mood_54495_1920x1080.jpg') }}');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
        	<h3 class="v">NIKUNJ Books</h3>
        	<h3 class="vr">Since - 2019</h3>
          <div class="col-md-11 ftco-animate text-center">
            <h1>WELCOME</h1>
            <h2><span>FIND YOUR DREAM BOOKS</span></h2>
          </div>
          <div class="mouse">
						<a href="#" class="mouse-icon">
							<div class="mouse-wheel"><span class="ion-ios-arrow-down"></span></div>
						</a>
					</div>
        </div>
      </div>
    </div>

    <div class="goto-here"></div>
    
    <section class="ftco-section ftco-product">
    	<div class="container">
    		<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big">Trending</h1>
            <h2 class="mb-4">Trending</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12">
    				<div class="product-slider owl-carousel ftco-animate">
    					<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="{{ url_for('static', filename='images/book1.jpg') }}" alt="Colorlib Template">
		    						<span class="status">30%</span>
		    					</a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Ramayana</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
			    							<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
			    						</div>
			    						<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
		    						</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="{{ url_for('static', filename='images/book2.jpg') }}" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Amazing Activity book</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
				    						<p class="price"><span>$120.00</span></p>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="{{ url_for('static', filename='images/Без названия (1).jfif') }}" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Moon Echoes</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
				    						<p class="price"><span>$120.00</span></p>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="{{ url_for('static', filename='images/kshdjkusa.jpg') }}" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">The Doe in the Forest</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
				    						<p class="price"><span>$120.00</span></p>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img src="{{ url_for('static', filename='images/222.jpg') }}" alt="Colorlib Template">
			    					<span class="status">30%</span>
			    				</a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Bussiness</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
			    							<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
			    						</div>
			    						<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
		    						</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img src="{{ url_for('static', filename='images/csad.jpg') }}" alt="NIKUNJ"></a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Sport Book</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
				    						<p class="price"><span>$120.00</span></p>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('{{ url_for('static', filename='images/Nik (1).jpg') }}');">
						<a href="https://www.youtube.com/watch?v=twg0-Kj0xmQ&t=107s" class="d-flex"></a>
							
						</a>
						
					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-5 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Nikunj <br>Online <br> <span>Book Shop</span></h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
                            <p>HELLO!! My name is Nikunj Patel and i am the creator of this web-site.</p>
							<p>Around 130 million books have been published in the history of humanity; a heavy reader will at best get through 6,000 in a lifetime. Most of them won’t be much fun or very memorable. Books are like people; we meet many but fall in love very seldom. Perhaps only thirty books will ever truly mark us. They will be different for each of us, but the way in which they affect us will be similar.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

{% endblock %}   
    